{% extends '@Contao/block_unsearchable.html.twig' %}

{% block content %}
    {{  form_start(form, {'attr': {'class': 'download_filter'}}) }}
    <div class="errors">
        {{ form_errors(form) }}
    </div>
    {{ form_widget(form.REQUEST_TOKEN) }}
    {{ form_widget(form._token) }}
    <div class="formbody">
        <div class="row">
            <div class="col-md-3 first column-1 download_tags">
                <select name="{{ field_name(form.tag) }}" id="select_type" class="form-control filter_field">
                    <option value=""> --- </option>

                    {% for label, value in field_choices(form.tag) %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-auto last column-3">
                {{ form_widget(form.search) }}
                <button name="submit" id="download_filter_submit" class="filter_submit"><i class="search-icon"></i>suchen</button>
            </div>
        </div>
    </div>
    {{ form_end(form, {render_rest: false}) }}
    <div class="clear"></div>

    {% if isAjax == true %}
    <script>
        (function ($) {
            document.addEventListener('DOMContentLoaded', function () {
                let downloadList = document.querySelector('.mod_download_list');

                if (null !== downloadList) {

                    $('form.download_filter').find('.filter_field').on('change', function () {
                        let args = {};

                        $('form.download_filter').find('.filter_field').each(function () {
                            let name = $(this).prop('name');

                            args[name] = $(this).val();
                        });

                        let str_args = '';
                        Object.entries(args).forEach(function (item) {
                            if (typeof (item[1]) === 'object') {
                                item[1].forEach(function (arrItem) {
                                    str_args += str_args === '' ? '?' : '&';
                                    str_args += item[0] + '[]=' + arrItem;
                                })
                            } else {
                                str_args += str_args === '' ? '?' : '&';
                                str_args += item[0] + '=' + item[1];
                            }
                        });

                        history.replaceState(null, null, location.pathname + str_args);

                        args['id'] = downloadList.dataset.id;
                        args['page'] = {{ page }};
                        $.ajax('{{ ajaxRoute }}', {
                            method: 'GET',
                            data: args,
                            headers: {
                                'Accept-Language': '{{ locale }}'
                            },
                            success: function (data) {
                                data = data.replaceAll('{{ ajaxRoute }}'.replace(/^\//, ''), location.pathname.replace(/^\//, ''));
                                $('.mod_download_list:not(.no-filter)').replaceWith(data);
                                $(document).trigger('DownloadBundle:updateList');
                            }
                        })
                    });

                    $('form.download_filter').find('.filter_submit').on('click', function(event) {
                        event.preventDefault();
                        $('form.download_filter').find('.filter_field:first').trigger('change');
                    });

                }
            });
        })(jQuery);
    </script>
    {% endif %}
{% endblock %}
