{% use "form_div_layout.html.twig" %}


{# Rows #}
{%- block form_row -%}
    {% set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' widget')|trim}) %}
    {%  if form.vars.block_prefixes.1 is defined %}
        {% set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' widget-' ~ form.vars.block_prefixes.1)|trim}) %}
    {%  endif %}
    {%  if form.vars.block_prefixes.2 is defined %}
        {% if form.vars.block_prefixes.2 != form.vars.unique_block_prefix %}
            {% set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' widget-' ~ form.vars.block_prefixes.2)|trim}) %}
        {% endif %}
    {%  endif %}
    {{- parent() -}}
{%- endblock form_row -%}

{%- block button_row -%}
    {% set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' widget')|trim}) %}
    {%  if form.vars.block_prefixes.1 is defined %}
        {% set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' widget-' ~ form.vars.block_prefixes.1)|trim}) %}
    {%  endif %}
    {%  if form.vars.block_prefixes.2 is defined %}
        {% if form.vars.block_prefixes.2 != form.vars.unique_block_prefix %}
            {% set row_attr = row_attr|merge({class: (row_attr.class|default('') ~ ' widget-' ~ form.vars.block_prefixes.2)|trim}) %}
        {% endif %}
    {%  endif %}
    {{- parent() -}}
{%- endblock button_row -%}

{# Form label #}
{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {% if form.vars.required ?? false %}
            <span class="invisible">{{ 'MSC.mandatory'|trans({}, 'contao_default') }} </span>
        {% endif %}
        {%- if translation_domain is same as(false) -%}
            {{- label|raw -}}
        {%- else -%}
            {{- label|trans({}, translation_domain)|raw -}}
        {%- endif -%}
        {% if form.vars.required ?? false %}<span class="mandatory">*</span>{% endif %}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}


{# Form errors #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="error">{{ error.message }}</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block choice_widget_expanded -%}
    <fieldset class="checkbox_container" id="ctrl_{{ form.vars.id }}">
        {%- for child in form %}
            <span>
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </span>
        {% endfor -%}
    </fieldset>
{%- endblock choice_widget_expanded -%}

{% block html_widget %}
    {{ html|raw }}
{% endblock %}
